#box {
    width: 200px;
    height: 100px;
    
    border-width: 2px;;
    background-color: black;
    position: absolute;
    left: 5px;
    top: 5px;
  
}
body {
    overflow: hidden;
    background-color: black;
}
#image {
    color: purple;
    width: 200px;
    height: 100px;
}

h1 {
    color: white;
    text-align: center;
}